body {
    padding: 10px;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: #666;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 20px;
    
}

form {
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 0 auto;
    width: 400px;
    height: 550px;
    margin-top: 100px;
    box-shadow: 0px 0px 50px #999;
  
}



input[type="text"],
input[type="number"] {
    
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border-radius: 20px;
}



input[type="submit"] {
    
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.input {
    
    width: 150%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #7318c9;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.input:hover {
    background-color: #d33262;
}

.datos {
    font-size: 20px;
    font-weight: bold;
    color: #666;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

